@model Produto
<link rel="stylesheet" href="~/css/adicionarcandidatos.css">

<header id="hea1">
    <a href="indexadm.html" id="logo">
        <img src="~/img/EletroPonto (1).png" alt="">
        <h2>EletroPonto</h2>
    </a>
    <div id="menu">
        <div id="divBusca">
            <input type="search" id="txtBusca" placeholder="Qual produto você esta buscando?"></input>
            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg></button>
        </div>
    </div>
</header>
<div id="conteinerr">
    <div id="menuCont">
        <div id="buttons">
            <div id="set" style="margin-top: 12%;">
                <a asp-controller="Produto" asp-action="Cadastrar">Adicionar Produto</a>
                <a href="">↦</a>
            </div>
            <hr>
            <div id="set">
                <a asp-controller="Produto" asp-action="Listar">Ver Produtos</a>
                <a href="">↦</a>
            </div>
            <hr>
            <div id="set">
                <a asp-controller="Clientes" asp-action="Geral">Ver Clientes</a>
                <a href="">↦</a>
            </div>
            <hr>
            <div id="set" style="margin-bottom: 12%;">
                <a asp-controller="Vendas" asp-action="Detalhes">Ver Vendas</a>
                <a href="">↦</a>
            </div>
        </div>
    </div>
    <form asp-controller="Produto" asp-action="Cadastrar" id="geral">
        <H2>Adicione um Produto</H2>
        <hr id="linhatit">
        <section id="geral2">
            <div id="part1">
                <div id="foto">
                    <label class="picture" tabindex="0">
                        <div class="max-width"></div>
                        <input type="file" name="Foto" accept="image/*" class="picture__input">
                        <span class="picture__image">Adicione a foto do produto aqui</span>
                    </label>
                </div>

                <div id="qust1">
                    <input class="txt" type="text" asp-for="NOME_PRODUTO" placeholder="Nome do Produto" required>
                    <textarea class="txt" style="resize: none" maxlength="100"
                        placeholder="Sub-titulo do produto:"></textarea>
                    <textarea asp-for="DESCRICAO" class="txt" style="resize: none" maxlength="1500"
                        placeholder="Descrição do produto:"></textarea>

                    <div class="btn3">
                        <select  class="comp">
                            <option value="Cor">Cor</option>
                            <option value="Preto">Preto</option>
                            <option value="Branco">Branco</option>
                            <option value="Bege">Bege</option>
                            <option value="Vermelho">Vermelho</option>
                            <option value="Azul">Azul</option>
                            <option value="Outro">Outro</option>
                        </select>
                        <select id="area" name="area" class="comp" required>
                            <option value="">Categoria</option>
                            <option value="Eletrodomésticos">Eletrodomésticos
                            </option>
                            <option value="Celulares e Comunicação">Celulares e Comunicação</option>
                            <option value="Eletrônicos">Eletrônicos</option>
                            <option value="Peças e acessórios">Peças e acessórios
                            </option>
                        </select>
                    </div>
                    <div class="btn3">
                        <input type="text" asp-for="ESTOQUE" class="comp" placeholder="Quantidade em estoque">
                        <div class="comp">
                            <h5>R$</h5>
                            <input type="text"  asp-for="PRECO"
                                placeholder="Valor do Produto">
                        </div>
                    </div>

                </div>
            </div>
            <input type="submit" id="sub" value="Finalizar"></input>


        </section>
    </form>
</div>

<style>
    header {
        display: none;
    }

    #hea1 {
        display: flex;
    }
</style>