@model Produto
@using Microsoft.AspNetCore.Identity
@inject UserManager<Cliente> UserManager

<!DOCTYPE html>
<html>
<head>
    <title>Produto Não Encontrado</title>
</head>
<body>
    <p>Produto não encontrado.</p>
</body>
</html>